<%- include('partials/head.ejs') %>


    <%- include('partials/navbar.ejs') %>
        <h1>The Home Page <%= 'hello world' .toUpperCase() %>
        </h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et, suscipit odit voluptate quos quam ab
            corrupti
            necessitatibus sit assumenda perferendis, animi accusamus maxime minus illum ad id nihil aspernatur cum.
            Lorem
            ipsum dolor sit amet consectetur, adipisicing elit. Ratione fugiat repellendus dolores vero. Atque velit
            deleniti tempora perferendis illo numquam eius eveniet assumenda, ut placeat corporis perspiciatis
            quibusdam
            est
            vitae!
            Distinctio placeat inventore odio eos enim omnis. Ut expedita quia eveniet odio perspiciatis
            voluptatibus
            dolore
            aliquam est harum iure necessitatibus eaque accusamus eos id pariatur tempore, provident consectetur
            aliquid
            sit!</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, optio corrupti dolor repellat hic
            earum
            est,
            expedita ducimus, deserunt aliquam nesciunt provident autem laudantium unde quibusdam culpa quia
            perferendis
            quae.</p>
        <%- include('partials/footer.ejs') %>